.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell-thismonth{
  background-color: #61dafb;
  width: 116px;
}

.cell-othermonth{
  background-color: lightslategray;
  width: 116px;
}

.cell-thismonth.currentday{
  background-color: blue;
  width: 116px;
}

.dayname{
  width: 116px;
}


#cal-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:817px;
}
